* {
  /*background: #F8F0DB;*/
  text-align: center;
}

body {
  font-family: 'Marvel', sans-serif;
  background: url("bg.png") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

h1 {
  font-size: 60px;
  opacity: 0.5;
  margin: -20px 0 -20px 0;
  color: #ffffff;

}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}

div {
  background-color: #ffffff;
  opacity: 0.8;
}

#gameboard {
  float: left;
  margin-top: -25px;
}

.grid {
  display: inline-block;
  margin-top: -20px;
  margin-right: -5px;
  vertical-align: top;
  font-family: 'Caveat Brush', cursive;
  font-size: 100px;
  text-align: center;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  height: 150px;
  width: 150px;
}

#playerX {
  font-size: 20px;
  height: 140px;
  width: 450px;
  border: 1px solid black;
  margin-top: -45px;
  margin-left: 525px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#playerO {
  font-size: 20px;
  height: 140px;
  width: 450px;
  margin-top: -5px;
  margin-left: 525px;
  border: 1px solid black;
}

#turnBox {
  font-size: 40px;
  height: 150px;
  width: 175px;
  border: 1px solid black;
  margin-top: -289px;
  margin-left: 1000px;
  border: 1px solid black;
}

#reset {
  font-family: 'Marvel', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 150px;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  margin-top: 30px;

}

button:focus {
  outline:0 !important;
}

#totoro{
  margin-top: 25px;
  margin-right: 200px;
  z-index: 100;
}

#winAnnounce{
  height: 50px;
  width: 610px;
  border: 1px solid black;
  margin-left: 525px;
  margin-top: 145px;
}

#gameStatus {
  font-size: 50px;
}
